body {
  text-align: center;
}

#full-img {
  height: 300px;
}

#preview-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;

  img {
    max-height: 75px;
  }
}

.selected {
  outline: 3px solid rgb(105, 105, 191);
}

#add-btn {
  background-color: green;
  color: white;
  font-size: 24px;
  margin-top: 10px;
}
